body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#e0e0e0;
    background-color: rgb(194, 105, 105);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 30px 0;
}

header img {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: rgb(73, 9, 9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    

}

section h2 {
    color: #4CAF50;
}
    .skills {
  padding: 50px 20px;
  background-color: #c91b1b;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #e9e1e1;
}

.skills .skill {
  margin-bottom: 20px;
  text-align: left; 
}

.skills .skill span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.skills .bar {
  width: 100%;
  background: #ddd;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.skills .progress {
  height: 100%;
  border-radius: 10px;
  text-align: right;   
  padding-right: 5px;
  color: white;
  font-weight: bold;  
}

/* ألوان ونسب كل مهارة */
.skills .progress.html { width: 100%; background-color: #f16529; }
.skills .progress.css { width: 85%; background-color: #2965f1; }
.skills .progress.cpp { width: 80%; background-color: #00599c; }
.skills .progress.english { width: 70%; background-color: #34a853; }
.skills .progress.math { width: 100%; background-color: #fbbc05; }

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: 0.3s;
    
}

button:hover {
    background-color: #4CAF50;
    color: white;
}


